<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihyun.myboard.mapper.JoinMapper">

    <select id="selectJoin" resultType="com.jihyun.myboard.entity.Join">
        select username, password from member;
    </select>

    <insert id="insertJoin" parameterType="String">
        INSERT INTO member (username, password)
        VALUES (#{username}, #{password});
    </insert>

</mapper>